@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700|Nanum+Myeongjo:400,700&subset=korean');

/*font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Myeongjo', serif;*/

body {width: 100%; height: 100%; font-family: 'Nanum Gothic', sans-serif; color: #1d1d1d;}

header {width:100%; height:5.5555%; background: #4a89bc; position: relative; overflow: hidden; text-align: center;}
header>h1 {position: absolute;bottom:0; left: 45px;}
header>ul {width: 22.125%; margin: 0 auto; height:60px; line-height: 60px;}
header>ul>li {float: left; width: 25%; }
header>ul>li>a {color: #fff;}
header>ul>li:nth-child(3) a{color:#f6bb42; }
header>ul>li:hover a {color:#f6bb42; }

.header {width: 100%; background:#4a89bc; }
.header>div:nth-child(1) {width: 16.6666%; height: 320px; background:#4a89bc; overflow: hidden; color: #fff; text-align: center; margin: 0 auto;}
.header>div:nth-child(1)>h1 {padding-top: 80px; font-size: 60px;}
.header>div:nth-child(1)>div {width: 34px; height: 3px; background: #fff; margin: 50px auto;}
.header>div:nth-child(2) {width: 62.5%; height: 60px; background:#4a89bc; overflow: hidden; margin: 0 auto;}
.header>div:nth-child(2)>a {width: 50%; display: block; float: left; text-align: center; color: #fff; font-size: 26px; height:60px; line-height: 40px; padding: 10px 0;}
.header>div:nth-child(2)>a:hover {background: #fff; color:#4a89bc; }
.header>div:nth-child(2)>a:nth-child(1) {
	background: #fff; color:#4a89bc; 
}

.wrap {width: 62.5%; margin: 0 auto; margin-top: 150px; text-align: center;}

.font {font-size: 32px;}
.font>span {font-size:21px; color: #4a89bc; padding: 10px 20px;border: 1px solid #4a89bc; border-radius: 20px; margin-right: 20px;}
.main>ul {margin-top: 200px; margin-bottom: 100px;}
.main>ul>li {margin-top: 50px; position: relative; width: 100%; overflow: hidden;}
.main>ul>li>div {position: absolute;top:90px; right:50px; font-weight: 800; color: #4a89bc;}
.main>ul>li>div>h1 {font-size: 40px;}
.main>ul>li>div>h2 {font-size: 35px; margin: 15px 0;font-weight: 500;}
.main>ul>li>div>p {font-size: 25px; margin: 15px 0; font-weight: 300;}
.main>ul>li>div>a {font-size: 25px; padding: 10px 20px; margin: 20px 0; display: inline-block; width: 200px; text-align: center; background: #4a89bc; color: #fff;}
.main>ul>li:nth-child(3)>div>h1 {line-height: 1.3em;}
.main>p>img {border:1px solid black;}
.main>p {margin-bottom: 150px;}

.main {position: relative;}
.main>div {width: 50px; height: 5px; background: #f6bb42; position: absolute; top: 120px; left: 0; right:0; margin: auto;}

.main>ul>li>div>a:hover {background: #fff; color: #4a89bc; border: 1px #4a89bc solid;}
footer {clear: both; height: 80px; width: 100%; overflow: hidden; background: #f9f9f9;}
footer>div {position: relative; top: 30%; width: 100%; left: 20px;}
footer>div>h1 {margin-bottom: 10px; font-weight: bold; }
footer>div>h1>a {color: #1d1d1d;}