@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700|Nanum+Myeongjo:400,700&subset=korean');

/*font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Myeongjo', serif;*/

body {width: 100%; height: 100%; font-family: 'Nanum Gothic', sans-serif; color: #1d1d1d;}

header {width:100%; height:5.5555%; background: #4a89bc; position: relative; overflow: hidden; text-align: center;}
header>h1 {position: absolute;bottom:0; left: 45px;}
header>ul {width: 22.125%; margin: 0 auto; height:60px; line-height: 60px;}
header>ul>li {float: left; width: 25%; }
header>ul>li>a {color: #fff;}
header>ul>li:hover a {color:#f6bb42; }
header>ul>li:nth-child(2) a{color:#f6bb42; }

.header {width: 100%; background:#4a89bc; height: 375px;}
.header>div:nth-child(1) {width: 16.6666%; height: 320px; background:#4a89bc; overflow: hidden; color: #fff; text-align: center; margin: 0 auto; }
.header>div:nth-child(1)>h1 {padding-top: 80px; font-size: 60px;}
.header>div:nth-child(1)>div {width: 34px; height: 3px; background: #fff; margin: 50px auto;}



.content1 {width: 62.5%; margin: 250px auto 0 auto; text-align: center;}
.content1>h1 {font-size: 40px;}
.content1>p {font-size: 20px; margin: 30px auto 80px auto; line-height: 1.5em;}
.content1>h2 {font-size: 26px; color: #4a89bc; line-height: 1.5em;}
.content1>img {display: block; margin: 60px auto 0 auto;}

.content2 {width:100%; margin: 0 auto 0 auto; text-align: center; background:#f9f9f9; }
.content2 div {width: 62.5%; margin: 0 auto; padding-top: 150px;}
.content2 h1 {font-size: 40px;}
.content2 p {font-size: 20px; margin: 30px auto 80px auto; line-height: 1.5em;}
.content2 img {display: block; margin: 60px auto 0 auto;}

.content3 {width: 62.5%; margin:0 auto; text-align: center; padding-top: 150px;}
.content3>h1 {font-size: 40px;}
.content3>p {font-size: 20px; margin: 30px auto 80px auto; line-height: 1.5em;}
.content3>h2 {font-size: 26px; color: #4a89bc; line-height: 1.5em;}
.content3>img {display: block; margin: 60px auto 0 auto;}

.content4 {width:100%; margin: 0 auto 0 auto; text-align: center; background:#f9f9f9; }
.content4 div {width: 62.5%; margin: 0 auto; padding-top: 150px; padding-bottom: 150px;}
.content4 h1 {font-size: 40px;}
.content4 p {font-size: 20px; margin: 30px auto 80px auto; line-height: 1.5em;}
.content4 img {display: block; margin: 60px auto 0 auto;}

footer {clear: both; height: 80px; width: 100%; overflow: hidden; background: #f9f9f9;}
footer>div {position: relative; top: 30%; width: 100%; left: 20px;}
footer>div>h1 {margin-bottom: 10px; font-weight: bold; }
footer>div>h1>a {color: #1d1d1d;}

